In [2]:
de = {
    'a' : [1,2,3],
    'b' : [4,5,6]
}
de

{'a': [1, 2, 3], 'b': [4, 5, 6]}

In [4]:
import pandas as pd
df = pd.DataFrame(de)
df

   a  b
0  1  4
1  2  5
2  3  6

In [7]:
b = {1: 11, 2: 22}
b

{1: 11, 2: 22}

In [15]:
df['a']

0    1
1    2
2    3
Name: a, dtype: int64

중복제거test

In [7]:
import pandas as pd

In [11]:
df = pd.DataFrame({
    'a' : [1, 2, 3, 4],
    'b' : ['a', 'b', 'c', 'c']
})
df

   a  b
0  1  a
1  2  b
2  3  c
3  4  c

In [13]:
df.duplicated(subset='b')

0    False
1    False
2    False
3     True
dtype: bool

In [15]:
df = df.drop_duplicates(subset='b', keep='last')
df

   a  b
0  1  a
1  2  b
3  4  c

lambda

In [48]:
(lambda x : x+1)(2)

3

range(0, 10)

In [64]:
sum = 0
for a in range(10):
    a = (lambda x : x+1)(a)
    sum = sum + a
    print('a는  ', a , ' 합은 ', sum)

a는   1  합은  1
a는   2  합은  3
a는   3  합은  6
a는   4  합은  10
a는   5  합은  15
a는   6  합은  21
a는   7  합은  28
a는   8  합은  36
a는   9  합은  45
a는   10  합은  55

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [41]:
# df1 = df.apply(lambda x : df[df['a']] + 1)

KeyError: "None of [Index([1, 2, 4], dtype='int64')] are in the [columns]"

In [40]:
df1

   a  b
0  2  2
1  3  3
3  5  5

In [44]:
df[(df['a'] +1)]

KeyError: "None of [Index([2, 3, 5], dtype='int64')] are in the [columns]"

In [9]:
import os

file_path = 'ex_datafile/COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/'

file_list = os.listdir(file_path)
csv_list = list()

for file in file_list:
    if file.split(".")[-1] == 'csv':
        csv_list.append(file)

print (csv_list)