In [2]:
de = {
    'a' : [1,2,3],
    'b' : [4,5,6]
}
de

{'a': [1, 2, 3], 'b': [4, 5, 6]}

In [4]:
import pandas as pd
df = pd.DataFrame(de)
df

   a  b
0  1  4
1  2  5
2  3  6

In [7]:
b = {1: 11, 2: 22}
b

{1: 11, 2: 22}

In [15]:
df['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [41]:
for a in de['a']:
    if a == 1:
        a = b[a]
        
    else:
        pass
    
de

1

{'a': [1, 2, 3], 'b': [4, 5, 6]}