### 1. 범주형 데이터의 요약
1. 수준별로 데이터 분류하기
2. 수준별로 데이터 갯수 세기(count)
    - 절대빈도 : 절대 갯수, 상대빈도 : 각 수준의 비율(%)
3. 시각화하기 (빈도표, frequency table)

### 1-2. 수준별로 데이터 분류하기

In [3]:
import pandas as pd
data = {
    'year' : ['2017', '2017', '2019', '2020', '2021', '2021'],
    'grade' : ['C', 'C', 'B', 'A', 'B', 'E'],
}

df = pd.DataFrame(data)
df.head()

   year grade
0  2017     C
1  2017     C
2  2019     B
3  2020     A
4  2021     B

In [6]:
df1 = df.groupby('grade').count()
df2 = df.groupby('year').count()

In [7]:
df1

       year
grade
A         1
B         2
C         2
E         1

In [8]:
df2

      grade
year
2017      2
2019      1
2020      1
2021      2